python-telegram-bot==20.7
telebot==0.0.5
fake-useragent==1.4.0
aiohttp==3.9.1
aiofiles==23.2.1
requests==2.31.0
beautifulsoup4==4.12.2
pyromod==2.0.0
pyrogram==2.0.106
beautifulsoup4==4.12.2
#Pillow>=11.2.1
numpy==1.26.4
scikit-learn==1.4.2
stripe==7.10.0
cryptography==41.0.7
lxml==5.2.2
